
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="nav-link" href="http://home">Home</a></li>
                <li><a class="nav-link" href="http://home/accounting.asp">Accounting</a></li>
                <li><a class="nav-link" href="http://home/artwork.asp">Artwork</a></li>
                <li><a class="nav-link" href="http://home/is.asp">I.T.</a></li>
                <li><a class="nav-link" href="http://home/production.asp">Production</a></li>
                <li><a class="nav-link" href="http://home/shipping.asp">Shipping</a></li>
                <li><a class="nav-link" href="http://home/sales.asp">Sales</a></li>
                <li><a class="nav-link" href="http://home/tcwebsite.asp">Website</a></li>
            </ul>

        </div>
    </div>
</div>




